
.lds-hourglass {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
.lds-hourglass:after {
content: " ";
display: block;
border-radius: 50%;
width: 0;
height: 0;
margin: 8px;
box-sizing: border-box;
background-color: #0987ff;
border: 32px solid #e33f2c;
border-color: #e33f2c transparent #e33f2c transparent;
animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
        transform: rotate(1800deg);
    }
}

#formLoading, #formSuccess {
    display: none;
}

#formSuccess .icon-message.error{
    color: #943636;
}
#formSuccess .icon-message{
    color: #4d9436;
}

#area-options li a {
    color: #fff;
    border: solid 1px #fff;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
#area-options li img {
    width: 70px;
}
#area-options li:hover a {
    color: #FDD428;
    
    border-color: #FDD428; 
}
#area-options li:hover {
    transform: scale(1.2);
    transition: all 0.5s ease-in-out;    
}
#area-options li {
    transition: all 0.5s ease-in-out;
    margin: 10px;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#area-options {
    flex-direction: row;
    padding: 0;
}




/*-----------------------------------------------
|   Pre-loader
-----------------------------------------------*/

    .CustomLoader.active img {
	    animation: heartbeat 1s infinite alternate
    }

    @-webkit-keyframes heartbeat {
        to {
            -webkit-transform: scale(1.1);
            transform: scale(1.1)
        }
    }

    .CustomLoader.active {
        opacity: 1;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        z-index: 10001 !important;
        transition: all 1s ease-in;
    }

    .CustomLoader {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        bottom: 0;
        z-index: 0;
        background-color: #fff;
        opacity: 0;
        /* -webkit-transition: opacity 0.8s cubic-bezier(0.77, 0, 0.18, 1); */
        /* -o-transition: opacity 0.8s cubic-bezier(0.77, 0, 0.18, 1); */
        /* transition: opacity 0.8s cubic-bezier(0.77, 0, 0.18, 1); */
        transition: all 1s ease-out;
        
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
      }
      .ac-title h2 {
          position: relative;
      }
      .ac-title h2::before {
        content: ' ';
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: #FCB420;
        height: 3px;
        width: 100%;
        z-index: -1;
      }

      
    #Loader {
        width: 150px;
        height: auto;
    }
    
    /* input.loadingCNPJ:after, .cnpj::after {
        position: absolute;
        content: '';
        top: 0;
        left: 1px;
        height: 30px;
        width: 30px;
        border: solid 1px red;
    } */